<footer>
  <div class="container">
    <p class="logo">Urbania Vibe's</p>
    <div>
      <address>
        <p>123 rue des lilas</p>
        <p>62100 Calais</p>
        <p>03 21 00 00 00</p>
      </address>
    </div>
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2513.565452257891!2d1.858732376982632!3d50.9502489512515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x294e697955892f45%3A0x825f0c246d0da586!2zVGhhw69zIExhYm91csOpLCBDcsOpYXRpb24gZGUgc2l0ZXMgd2Vi!5e0!3m2!1sfr!2sfr!4v1725628051123!5m2!1sfr!2sfr" width="300" height="200" style="border:0;"  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <p class="text-center">
    &copy; 2024 Urbania Vibe's | Thaïs Labouré | Tous droits réservés
  </p>
  <p class="text-center">
    <a routerLink="/admin">Admin</a>
  </p>

</footer>
