<main>
  <h1>Mon Panier</h1>

  @if (cart.length === 0) {
    <p class="text-center">Votre panier est vide</p>
  } @else {
    <table>
      <thead>
      <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Prix</th>
        <th>Total</th>
        <th>Supprimer</th>
      </tr>
      </thead>
      <tbody>
        @for (item of cart; track item.id) {
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price}}€</td>
            <td>{{item.total}}€</td>
            <td>
              <button (click)="remove(item)">Supprimer</button>
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
      <tr>
        <td colspan="3">Total</td>
        <td>{{total}}€</td>
      </tr>
      </tfoot>
    </table>
  }

</main>
